@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removes the eye icon in Microsoft Edge / Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
